.contentFooter {
  /* background-image: url("../../assets/images/footerBackground.jpg"); */
  /* padding: 200px; */
  background-repeat: no-repeat;
  width: 100%;
  padding: 100px 400px;
  background-position: center;
}
